<!-- Using Inout and Output property binding to send and recieve data -->
<div id="grid-wrapper">
    <div style="margin-bottom: 5px;display: flow-root;">
        <input
          type="text"
          (input)="onQuickFilterChanged()"
          id="quickFilter"
          placeholder="quick filter..."
        />

        <button *ngIf="this.api?.getSelectedRows()?.length" class="card card-small error" (click)="onDeleteMultiple()" style="float: right;">
            <i class="bi bi-trash3"> </i> &nbsp;&nbsp;
            <span>Delete</span>
        </button>

        <button class="card card-small info" (click)="showModal()" style="float: right;">
            <i class="bi bi-plus-square"> </i> &nbsp;&nbsp;
            <span>Create Order</span>
        </button>
    </div>

    <ag-grid-angular 
        style="width: 100%;"
        [domLayout]="domLayout"
        class="ag-theme-alpine" 
        [rowData]="rowData"
        (gridReady)="onGridReady($event)" 
        [editType]="'fullRow'"
        (rowValueChanged)="onRowValueChanged($event)"
        (rowEditingStopped)="onRowEditingStopped($event)"
        (cellClicked)="onCellClicked($event)"
        (rowEditingStarted)="onRowEditingStarted($event)"
        [suppressRowClickSelection]="true"
        [rowSelection]="'multiple'"
        [columnDefs]="columnDefs" 
        [defaultColDef] = "defaultColDef"
        [pagination]="true"
        [paginationPageSize]="10"
        suppressClickEdit>
    </ag-grid-angular>
</div>


<app-order-modal *ngIf="showOrderModal"(submitOrder)="createOrder($event)" (closeOrder)="showModal()"></app-order-modal>
  