.ag-theme-alpine {
    --ag-foreground-color: rgb(126, 46, 132);
    --ag-background-color: rgb(249, 245, 227);
    --ag-header-foreground-color: rgb(204, 245, 172);
    --ag-header-background-color: rgb(209, 64, 129);
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-header-column-resize-handle-color: rgb(126, 46, 132);

    --ag-font-size: 17px;
    // --ag-font-family: ;
}


html, body {
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
 }


 .create-order {
    display: block;
    margin-left: 10px;
    margin-right: 0px;
 }

 .main-div {
    display: flex;
    justify-content : right;
    padding-bottom: 10px;
 }

 #grid-wrapper {
    width:100%;
    height: 520px;
    box-shadow: 0 4px 17px rgb(0 0 0 / 35%);
 }


:host {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
     'Segoe UI Emoji', 'Segoe UI Symbol';
   font-size: 14px;
   color: #333;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   margin: 8px 0;
 }
 
 p {
   margin: 0;
 }
 
 .spacer {
   flex: 1;
 }
 
 .toolbar {
   height: 60px;
   display: flex;
   align-items: center;
   background-color: #1976d2;
   color: white;
   font-weight: 600;
 
   & img {
     margin: 0 16px;
   }
 }
 
 .content {
   display: flex;
   margin: 64px auto 32px;
   padding: 0 16px;
   max-width: 960px;
   flex-direction: column;
   align-items: center;
 }
 
 svg.material-icons {
   height: 24px;
   width: auto;
 
   &:not(:last-child) {
     margin-right: 8px;
   }
 }
 
 .card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 16px;
 
   & .card:not(:last-child) {
     margin-right: 0;
   }
 
   & .card:not(.highlight-card) {
     cursor: pointer;
   }
 
   & .card:not(.highlight-card):hover {
     transform: translateY(-3px);
     box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
 
   & .card:not(.highlight-card):hover .material-icons path {
     fill: rgb(105, 103, 103);
   }
 }
 
 .card {
   all: unset;
   border-radius: 4px;
   background-color: #fafafa;
   height: 40px;
   width: 200px;
   margin: 0 8px 16px;
   padding: 16px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   transition: all 0.2s ease-in-out;
   line-height: 24px;
 
   & svg.material-icons path {
     fill: #888;
   }
 
   &.card-small {
     height: 16px;
     width: 168px;
     color: white;
 
     &.success {
       background-color: #198754;
     }
 
     &.info {
       background-color: #0d6efd;
     }
 
     &.warning {
       background-color: #ffc107;
     }
 
     &.error {
       background-color: #dc3545;
     }
   }
 
   &.highlight-card {
     background-color: #1976d2;
     color: white;
     font-weight: 600;
     border: none;
     width: auto;
     min-width: 30%;
 
     & span {
       margin-left: 10px;
     }
   }
 }
 
 svg#rocket {
   margin-left: -30px;
   width: 80px;
 }
 
 a,
 a:visited,
 a:hover {
   color: #1976d2;
   text-decoration: none;
 }
 
 a:hover {
   color: #125699;
 }
 
 svg#clouds {
   position: fixed;
   bottom: -160px;
   left: -230px;
   z-index: -10;
   width: 1920px;
 }
 
 span.material-icons {
   width: 30px;
 }
 
 /* Responsive Styles */
 @media screen and (max-width: 767px) {
   .card-container > *:not(.circle-link),
   .terminal {
     width: 100%;
   }
 
   .card:not(.highlight-card) {
     height: 16px;
     margin: 8px 0;
   }
 
   .card.highlight-card span {
     margin-left: 10px;
   }
 }