<div class="card-container">
    <button class="card card-small info" (click)="showModal()">
        <i class="bi bi-plus-square"> </i> &nbsp;&nbsp;
        <span>Create Order</span>
    </button>
    
    <button *ngIf="saveBtn" class="card card-small success" (click)="saveOrder()">
        <i class="bi bi-save"></i> &nbsp;&nbsp;
      <span>Save Order</span>
    </button>
</div>

<!-- Using Inout and Output property binding to send and recieve data -->
<div id="grid-wrapper">
    <ag-grid-angular 
        style="width: 100%;"
        [domLayout]="domLayout"
        class="ag-theme-alpine" 
        [rowData]="rowData"
        (gridReady)="onGridReady($event)" 
        [editType]="'fullRow'"
        (rowValueChanged)="onRowValueChanged($event)"
        (rowEditingStopped)="onRowEditingStopped($event)"
        [frameworkComponents]="frameworkComponents"
        [columnDefs]="columnDefs" 
        [pagination]="true"
        [paginationPageSize]="10"
        suppressClickEdit>
    </ag-grid-angular>
</div>


<app-order-modal *ngIf="showOrderModal"(submitOrder)="createOrder($event)" (closeOrder)="showModal()"></app-order-modal>
  